body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjtyEyigR2mIJnsKUekoHaurom5lbFKhZIWQ&s");
    background-repeat: no-repeat;
    width: 9999px;
    height: 9999px;
  }
  